@import 'tailwindcss';

@font-face {
  font-family: 'W95FA';
  src: url('/fonts/w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'W95FA', monospace;
}

.minwindow {
  visibility: hidden;
  pointer-events: none;
}

.admin-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.offline-users {
  grid-column: 1 / -1;
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}
