@import 'tailwindcss';

@font-face {
  font-family: 'W95FA';
  src: url('/fonts/W95FA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'W95FA', monospace;
}

.minwindow {
  visibility: hidden;
  pointer-events: none;
}
