:root {
  --greyMain: #808080;
  --greyLight: #c0c0c0;
  --black: #04040f;
  --white: #ffffff;
  --blue: #000082;
  --blueDesktop: #008080;
  --yellowFolder: #dfdf60;
  --red: #ff0000;
  --green: #008200;
  --greenLime: #00ff00;
  --orange: #fd5a1a;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: #c0c0c0;
}

::-webkit-scrollbar-thumb {
  background: var(--grey1);
  border: 2px solid #c0c0c0;
  box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.chat-interface {
  display: flex;
  overflow: hidden;
  padding-bottom: 40px;
}

.chat-panel {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
  box-shadow: inset -1px -1px 1 #ffffff, inset 1px 1px 1 #000;
  padding-right: 4px;
  padding-top: 2px;
  border: inset 1px;
}
.sessions-panel {
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  width: 90px;
}

.session-item {
  cursor: pointer;
  padding: 4px 6px;
  box-shadow: inset -1px -1px 1 #000000, inset 1px 1px 1 #ffffff;

  background: #c0c0c0;
  line-height: 1.2;
  margin-bottom: 4px;
  margin-top: 4px;

  width: 90px;
  height: 50px;
}

.session-item.active {
  background: var(--blue);
  color: var(--white);
}

.session-item.deleted {
  background: var(--red);
  color: var(--white);
}
.session-item.editing {
  background: var(--orange);
  color: var(--white);
}

.w95-desktop {
  position: relative;
  width: 100vw;
  height: calc(100vh - 32px); /* 32px is taskbar height */
  background: var(--blueDesktop);
  overflow: hidden; /* Add this line to prevent scrolling */
}

.w95-window {
  position: absolute;
  background: #c0c0c0;
  box-shadow: inset -1px -1px 1 #000000, inset 1px 1px 1 #ffffff;
  font-family: var(--font-w95), sans-serif;
  display: flex;
  overflow: hidden;
}

/* TITLEBAR */
.w95-titlebar {
  margin: 2px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000082;
  color: var(--white);
  padding: 0px 6px;
  user-select: none;
}
.w95-titlebar .titlebar-buttons {
  display: flex;
}
.w95-minimize,
.w95-maximize,
.w95-close {
  width: 16px;
  height: 14px;
  background: #c0c0c0;
  color: var(--black);
  font-size: 10px;
  box-shadow: inset -1px -1px 0 #000000, inset 1px 1px 0 #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.w95-close:active,
.w95-maximize:active,
.w95-minimize:active {
  box-shadow: inset 1px 1px 0 #404040, inset -1px -1px 0 #fff;
}

/* TASKBAR */
.w95-taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: #c3c3c3;
  border-top: 1px solid #a0a0a0;
  display: flex;
  gap: 4px;
  padding: 0 8px;
  align-items: center;
  z-index: 9995;
  font-family: var(--font-w95), sans-serif;
}

.w95-button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 8px;
  font-size: 13px;
  background: var(--grey1);
  color: var(--black);
  box-shadow: inset 1px 1px 1 #ffffff, inset -1px -1px 1 #000000;
  cursor: pointer;
  transition: background 0.1s ease;
  justify-content: center;
}
.w95-button:hover {
  background: #dcdcdc;
}
.w95-button.active {
  background: var(--blue);
  color: var(--white);
  border: 1px inset var(--grey1);
}
.w95-button.minimized {
  background: #c0c0c0;
  color: white;
}

.w95-input {
  padding: 3px 4px;
  font-family: var(--font-w95), sans-serif;
  font-size: 13px;
  border: inset 4px;
  background: white;
  color: black;
  cursor: text;
}
